/////////////////////////////////
////LOGO
.logo {
    height: 3.5rem;
    margin-left: 3rem;
}


/////////////////////////////////
////SEARCH
.search {
    background-color:orangered;
    flex: 0 0 40%; //grow shrink occupy

    display: flex;//flex item is becoming flex container,; we center loop icon btn
    align-items: center; //center elem along the cross axis
    justify-content: center; //center elem along the main axis
    
    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        border-radius: 100px;
        padding: .7rem 2rem;
        width: 90%;
        transition: all .2s;
        margin-right: -3.25rem; //this way the btn move on top of input

        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }
    }

    &__input:focus + &__button { //sibling, adjust element 
        background-color: var(--color-grey-light-3);
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus {
            outline: none;
        }

        &:active {
            transform: translate(2px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
}
}

/////////////////////////////////
////USER NAVIGATION
.user-nav {
    background-color: yellowgreen;
    &__icon-box {

    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
    }

    &__notification {

    }

    &__user {

    }

    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;

    }

    &__user-name {

    }
}