.container {
    max-width: 120rem; //container can decrease if hasn't got enough enough space to display our 120rem,;inaczej 1200px i jesli mniej to zajmie 100% szerokosci portu
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: 0 2rem 6rem rgba(0,0,0,.3);

    
}

.header {

}

.content {

}

.sidebar {

}

.hotel-view {

}